@font-face {
    font-family: 'it-portal';
    src: url(/ff/Rubik-Regular.ttf);
}
/* box-shadow: 0 4px 24px 0 rgba(34,41,47,.1); */
*{
    margin: 0;
    padding: 0;
}
.time{
    display: none;
}
.coffe.day{
    display: inline;
    color: rgb(228, 148, 0);
  }
  .coffe.night{
    color: white;
    display: none;
  }
  .moon.day {
    display: none;
  }
  .moon.night{
    color: rgb(62, 168, 255);
    display: inline;
  }
body{
    color: #5E5873;
    background-color: #f8f8f8;
    font-family: 'it-portal';
    height: 300vh;
}
.nav-container{
    padding: 20px;
    position: fixed;
    width: 200px;
    height: 250px;
    transition: var(--transition);
}
i.bi{
    padding-left: 5px;
}
main{
    color: #a198c0;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 10pt;
}
.nav{
    box-shadow: var(--shadow);
    background-color: white;
    border-radius: 7px;
    list-style-type: none;
}
.nav li{
    transition: 0.2s ease-in-out;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.nav p{
    transition: 0.2s ease-in-out;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
}
.nav p{
    letter-spacing: 0.5mm;
    padding-right: 10px;
    font-weight: 600;
}
.nav .logo{
    font-size: 18pt;
    color: var(--logo-color);
}
.nav li a{
    transition: var(--transition);
    color: var(--color);
    text-decoration: none;
}
.nav li a:hover{
    color: var(--hover-color);
    padding-left: 8px;
}
/* CONTENT */
.content{
    width: 72%;
    z-index: 3;
    height: 30vh;
    text-align: center;
    padding-top: 20px;
    padding-left: 250px;
}
.main-text{
    padding: 13px 3px;
    border-radius: 7px;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
}
/* WORK */
.work{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 50px;
    height: 100px;
}
.work-card{
    padding: 60px;
}
.card-style{
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    padding: 13px 25px;
    border-radius: 7px;
}
.card-i{
    padding-bottom: 7px;
}
.card-i i{
    font-size: 24pt;
    padding: 10px;
    color: var(--logo-color);
    border-radius: 50%;
}
.container{
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    width: 72%;
    z-index: 3;
    height: 50%;
    text-align: center;
    margin-left: 250px;
    border-radius: 7px;
}
.lessons-container{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
}
.lessons-card{
    height: 250px;
    padding: 20px;
    margin: 10px;
    margin-top: 35px;
    border-radius: 7px;
    box-shadow: var(--shadow);
}
.lessons-card .lesson-i img{
    width: 200px;
    height: 200px;
    transition: var(--transition);
}
.lessons-card .lesson-h{
    padding-top: 10px;
}
a{
    text-decoration: none;
    color: var(--color);
}
.next, .next i {
    font-size: 18pt;
    text-align: end;
    border-radius: 50%;
    transition: var(--transition);
}
.lessons-card:hover img{
    transform: scale(105%);
}
.lessons-card:hover .next i{
    background-color: #393647;
    align-items: center;
    color: var(--bg-color);
    border-radius: 50%;
}
:root{
    --shadow: 0 4px 24px 0 rgba(34,41,47,.1);
    --color: #5E5873;
    --logo-color: #51A4FB;
    --bg-color: white;
    --hover-color: #393647;
    --transition:0.3s ease-in-out;
}